#btn1 {
 background-color:rgb(141, 189, 224);
}

#btn2 {
    background-color:rgb(141, 189, 224) ;
}

#div1 {
    width: 630px;
    height: 400px;
    background-color:rgb(141, 189, 224);
    display: none;
    margin-left:55%;
    text-align: center;
    position: absolute;
    
 
}

#div2 {
    width: 100%;
    height: 300px;
    background-color:rgb(141, 189, 224);
    display: flow-root;
    text-align: center;
    margin-top: 40%;
    position: relative;
}