
h1 {
    font-size: 90px;
    font-weight: bold;
    color: rgb(86, 1, 14);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;

}
h2 {
    font-size: 90px;
    font-weight: bold;
    color: lightpink;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

h3{

    font-size: 20px;
    font-weight: bold;
    
    color: rgb(8, 4, 12);
    font-family:'Times New Roman', Times, serif;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

#HelloWorld {
    
   
    font-size: 20px;
    font-weight: bold;
    color: rgb(90, 84, 255);
    font-family:'Times New Roman', Times, serif;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    

}
body {
    background-color: rgb(232, 248, 248);
}

p{
    font-size: 15px;
    font-weight: 200;
    color: rgb(210, 107, 207);
    font-family:'Times New Roman', Times, serif;
    padding: 10px;
    margin-bottom: 1px;
    text-align:center;
}

#IneractiveWebsites{
    size: 15cm;
    shape-margin: 0cap;
    shape-outside: -moz-radial-gradient();
    font-size: 20px;
    font-weight: bold;
    color: rgb(90, 84, 255);
    font-family:'Times New Roman', Times, serif;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
}
video{
    /* display: flex; */
    /* background-attachment: fixed; */
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: -1;
    
}

#container {
    display:flex; 
    justify-content: center;
    position: relative;
    height: 500px;
    width: 500px;
    margin-top: 120px;
    margin-left: 300px;

}

#container > img {
    position: absolute;
    top: 0;
    justify-content: center;
}

#container  a {
    position: absolute;
    size: 15cm;
    shape-margin: 0cap;
    shape-outside: -moz-radial-gradient();
    font-size: 20px;
    font-weight: bold;
    color: rgb(90, 84, 255);
    font-family:'Times New Roman', Times, serif;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    background: rgb(8, 6, 68);
}

#JW {
    top: 520px;
    left: 180px;
}

#NF {
    top: -50px;
    left: 180px;
}

#PF {
    top: 220px;
    left: 500px;

}

#ELD {
    top: 220px;
    left: -170px;
}

#about {
top:700px;
left: 100px;
margin-bottom: 500px;
}

#contact {

    top:700px;
    border-bottom: 100px;
    right: 100px;
    margin-bottom: 500px;
}

.a {
    align-items: center;
    align-content: ;
}