





h2 {
    font-size: 200px;
    font-weight: bold;
    color: rgb(198, 188, 178);
    font-family: serif;
    text-align: center;
    
}
 


.chaotic-goodie {
    background-color: #FFC107;
  color: white;
  border: 2px dashed red;
  animation: bounce 2s infinite;
  font-family: 'kricooutlineobliqueoblique';
  font-size: 2rem;
  width:auto
  
}

.chaotic-goodie:hover{
    background-color: cornflowerblue;
}

#container  a {
    position: absolute;
    size: auto;
    shape-margin: 0cap;
    shape-outside: -moz-radial-gradient();
    font-size: 20px;
    font-weight: bold;
    /* color: rgb(119, 111, 117); */
    /* font-family:'Times New Roman', Times, serif; */
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    /* background: rgb(245, 202, 198); */
    background-color: rgb(245, 202, 198);;
  color: rgb(93, 84, 84);
  border: 2px dashed red;
  animation: bounce 2s infinite;
  font-family: 'kricooutlineobliqueoblique';
  padding-left: 20%;
  padding-top: 20%;
  
}



#container a:hover{
    background-color: whitesmoke;
}



#container image{
    top:5px;
    left:30px;
}