
h1 {
    font-size: 132px;
    font-weight: bold;
    color: lightpink;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 0 auto;
    text-align: center;

}
h2 {
    font-size: 100px;
    font-weight: bold;
    color: rgb(48, 140, 209);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

h3{

    font-size: 80px;
    font-weight: bold;
    font-style: italic;
    color: rgb(198, 139, 252);
    font-family:'Times New Roman', Times, serif;
    padding: 10px;
    margin: 0 auto;
    text-align: left;
}

button {
    size: 15cm;
    shape-margin: 0cap;
    shape-outside: -moz-radial-gradient();
    font-size: 20px;
    font-weight: bold;
    color: rgb(84, 255, 101);
    font-family:'Times New Roman', Times, serif;
    padding: 10px;
    margin: 0 auto;
    text-align: right;
    border-radius: 5px;
    margin-left: 43%;

}

p{
    font-size: 25px;
    font-weight: 200;
    color: rgb(121, 217, 69);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin-left: 50;
    margin-right: 50;
    text-align:;
}
button:hover {

}

a:link {

}

a:hover {

}

body{
    margin: 20px;
    height: 270vh; /* To allow scrolling */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    background-color: rgb(242, 243, 218);

}

.NF {
    display: -moz-popup;
    width: 33cm;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    padding-left: 40px;
}

.NFT {
    display: -moz-popup;
    width: 8cm;
    margin-left: 450px;
    margin-right: 20px;
    align-items: center;
    padding-left: 50px;
}
