/* BODY AND SECTIONS */
/* ----------------------------------------------------- */

/* All body and section styling available here (except for the fonts, which are declared in the defaults+fonts.css). One property has already been declared on the body and section element, respectively */


/* SOME CSS PROPERTIES YOU COULD USE:
{
    margin: 20px;
    margin: 20%;

    margin-left: ;
    margin-right: ;

    padding-left: 20px;
    padding-right: 20%;
    padding: 0 50px;
    padding: 10px 30px 50px 70px;

    border-width: ;
    border-style: ;
    border-color: ;
    border: ;

    font-size: ;
    line-height: ;
    letter-spacing: ;
    
    text-align: ;
    text-transform: lowercase;
    text-indent: 20px;
    columns: 2;
    column-gap:;

    text-decoration:;
    text-decoration-line: ;
    text-decoration-thickness: ;
    text-underline-offset: ;}
    
    list-style: ;
    content: ;
}

*/


/* body {
    ::-moz-selection;
    ::selection;
    
} */

body {
    padding: 40px 10%;
 }
 

body > h1 {
    size: 60px;
    text-align: center;
    text-transform: capitalize;
}

body > section > p:nth-of-type(1) {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

section:first-of-type:hover {
    background-color: antiquewhite;
}

body > div > p:nth-of-type(1) {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

body > div {
    
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    border-top: 1px;
    border-color: rgb(2, 0, 0);
    border-style: solid;
    outline: 25px;
    outline-color: yellow;
    outline-style: solid;
    padding-left: 40px;
    
    
}


body> div> ol {
    list-style-type: lower-roman;
}

body > div >ol > li{
    margin-bottom: 20px;
}

body > section {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    border-top: 1px;
    border-color: black;
}

body > section:nth-of-type(1) {
    padding-left: 40px;
    padding-right: 40px;
    
}



body > section:nth-of-type(2) {
    margin-left: 40px;
    margin-right: 40px;
}

section:nth-of-type(2):hover {
    background-color: rgb(157, 253, 216);
}

body > section:nth-of-type(3) {
    background-color: rgb(191, 232, 245);
    margin-top: 50px;
    padding-bottom: 30px;
}

body > section:nth-of-type(4) {
    margin-top: 100px;
    border: 25px solid yellow;
    padding: 20px;
    padding-left: 40px;   
}

body > section:nth-of-type(4) ul:first-of-type li:nth-of-type(2) {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
 }
 section:nth-of-type(4) ul:first-of-type:hover li:nth-of-type(2) {
    text-decoration-line: line-through;
 }
 

body > section:nth-of-type(4) > p:nth-of-type(3)> ul > li {
    list-style: none;
    margin: -20px;
    margin-right: 10px;
    /* list-style: symbol(\261E); */
    list-style-type: none;
}

body > section:nth-of-type(4) ul:last-of-type > li::before {
    content: "\261E";
    margin-right: 10px;
}

body > section:nth-of-type(4) ul li:nth-of-type(even){
    background-color: palegreen;
}

body > section:nth-of-type(5) > p {
    margin-bottom: 40px;
}

/* how to make the p look the same as the section */

body > section:nth-of-type(5) > div {
    columns: 3;
    column-gap: 50px;

}

body > section:nth-of-type(5) > div > p{
    margin: 0;
}

body > section:nth-of-type(5) > div > p + p {
    text-indent: 60px;
}

 /* section:nth-of-type(6)  p:nth-of-type(2) ::first-line{
    font-size: 44px;
    line-height: 0.8;
} */

/* body  > section:nth-of-type(6) > blockquote {
    padding-left: 30px;
    padding-right: 30px;
    border-left: 1px;
    border-style: solid;
    color: lightskyblue;
    margin-left: 30px;
}

body  > section:nth-of-type(6) > p:nth-of-type(3) > q {
    padding-left: 30px;
    padding-right: 30px;
    border-left-width: 1px;
    border-left-style: solid;
    color: lightgreen;
    border-right-width: 10px;
    border-right-style: solid;
} */


section:nth-of-type(6) p:nth-of-type(2)::first-line {
    font-size: 44px;
    line-height: 0.8;
 }
 
section:nth-of-type(6) blockquote,
section:nth-of-type(6) q {
   padding: 0 30px;
   border-left: 1px solid black;
   color: rgb(117, 204, 212);   
}


section:nth-of-type(6) blockquote {
   margin-left: 30px;
}


section:nth-of-type(6) q {
   border-right: 1px solid black;
   margin-right: 10px;
}
