


h2 {
    font-size: 100px;
    font-weight: bold;
    color: rgb(249, 238, 238);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 0 auto;
    text-align: Left;
    margin-left: 20px;
}


p{
    font-size: 25px;
    color: rgb(241, 236, 236);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin-left: 20px;
    text-align:left;
    margin-right: 20px;
}


body{

    margin: 0;
    height: 100vh; /* To allow scrolling */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

a {
   
    font-size: 20px;
    font-weight: bold;
    color: rgb(245, 117, 155);
    font-family:'Times New Roman', Times, serif;
    margin-left: 40px;
    
    text-align: center;
    background-color: antiquewhite;

}

video {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: -1;
}
 #email {
    font-size: 20px;
    font-weight: bold;
    color: rgb(245, 117, 155);
    font-family:'Times New Roman', Times, serif;
    margin-left: 30px;
    background-color: rgb(244, 242, 238);
    text-align: center;

 }

 #instagram {
    font-size: 20px;
    font-weight: bold;
    color: rgb(245, 117, 155);
    font-family:'Times New Roman', Times, serif;
    margin-left: 5px;
    background-color: rgb(244, 242, 238);
    text-align: center;
 }
